// Container padding
@mixin container-padding {
    padding: 1rem;
}



// Input Style
@mixin input-style {
    padding-bottom: 1rem;
    margin: auto;
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    width: 100%;
    outline: none;
    border-bottom: 4px solid $green_logo;
    &:focus {
      outline: none;
      border-bottom: 4px solid $blue_logo;
    }
}

// Button Style
@mixin button-style {
    padding: .5rem;
    border: none;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    height: 2.5rem;
    text-transform: uppercase;
    }


@mixin button-colors {
    &.default {
        background-color: $button-default;
    }
    &.error {
        background-color: $button-error;
    }
    &.info {
        background-color: $button-info;
    }
    &.success {
        background-color: $button-success;
    }
    &.warning {
        background-color: $button-warning;
    }
}

// Apply hover effect to buttons
@mixin button-hover {
    &:hover {
        &.default {
            background-color: lighten($button-default, 10%);
        }
        &.error {
            background-color: lighten($button-error, 10%);
        }
        &.info {
            background-color: lighten($button-info, 10%);
        }
        &.success {
            background-color: lighten($button-success, 10%);
        }
        &.warning {
            background-color: lighten($button-warning, 10%);
        }
    }
}


// Grid Colors & Hover Effect
@mixin grid-colors {
    .row {
      > .theme {        
        &.col-12 {
          background-color: rgb(113, 227, 221);
          display: flex;
          align-items: flex-start;
        }
    
        &.col-6 {
          background-color: rgb(108, 173, 194);
        }
    
        &.col-4 {
          background-color: rgb(124, 221, 253);
        }
    
        &.col-3 {
          background-color: rgb(236, 182, 255);
        }
    
        &.col-5 {
          background-color: rgb(138, 211, 138);
        }
    
        &.col-7 {
          background-color: rgb(245, 165, 165);
        }

        &.centered {
          display: flex;
          align-items: center;
        }
    
        &.col-8 {
          background-color: lightsalmon;
        }

        &:hover {
            transform: scale(1.05);
        }
      }
    }
  }

@mixin grid-layout {
  .row {
    > .theme {      
      &.col-3 {
        flex-basis: 25.00%;
      }
      
      &.col-4 {
        flex-basis: 33.33%;
      }
      
      &.col-5 {
        flex-basis: 41.67%;
      }
      
      &.col-6 {
        flex-basis: 50.00%;
      }
      
      &.col-7 {
        flex-basis: 58.33%;
      }
      
      &.col-8 {
        flex-basis: 66.67%;
      }
      
      &.col-12 {
        flex-basis: 100%;
      }       
    }
  }
}

@mixin grid-phone-size {
    .row > .col-12.theme {
      margin-bottom: 2rem;
  }

  .row > .col-6.theme:last-of-type {
      margin-bottom: 2rem;
  }

  .row > .col-4.theme:last-of-type {
      margin-bottom: 2rem;

  }

  .row > .col-3.theme:last-of-type {
      margin-bottom: 2rem;

  }

  .row > .col-7.theme {
      margin-bottom: 2rem;    
  }

}

@mixin grid-tablet-size {
    .row > .col-12.theme {
      margin-bottom: .3rem;
  }

  .row > .col-6.theme:last-of-type {
      margin-bottom: 1rem;
  }

  .row > .col-4.theme:last-of-type {
      margin-bottom: 1rem;

  }

  .row > .col-3.theme:last-of-type {
      margin-bottom: 1rem;

  }

  .row > .col-7.theme {
      justify-content: center;
      margin: auto;
      margin-bottom: 1rem; 
      margin-top: 1rem;  
  }
}