/* ----------------------------------- */
// VARIABLES
/* ----------------------------------- */

// Fonts
$main-font: 'lato', sans-serif;


// Base Colors
$green_logo: #58e1c1;
$blue_logo: #51ddfc;
$base_color: rgb(128, 128, 128);
$secondary_color: rgb(110, 110, 110);


// Button Colors
$button-default: $blue_logo;

$button-error: rgb(255, 124, 124);

$button-info: rgb(138, 97, 158);

$button-success: $green_logo;

$button-warning: orange;


// Media Queries
$breakpoint-mobile: 768px;