
*,
*::before,
*::after  {
    color: $base_color;
    font-family: $main-font;
    box-sizing: border-box;   
}

p {
    line-height: 1.45em;
}
  
a {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 900px;
}

.row {
    display: flex;
    flex-direction: column;
    
}

/* Media query for larger screens */
@media screen and (min-width: $breakpoint-mobile) {
    .container {
        width: 90%;
        display: flex;
        margin: auto;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-direction: row;
    }
}
