/* ------------------------------------ */
// Button Container
/* ------------------------------------ */
.col-12 button {
    @include button-style;
    @include button-colors;
    @include button-hover;
    width: 80%;
    margin: .5rem auto;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

@media screen and (min-width: $breakpoint-mobile) {
    .row:nth-of-type(4) {
        .col-12 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 1rem;
      }
    }
}